## EDA

In [7]:
import os

import pandas as pd

### Config

In [8]:
if 'chdir_done' not in globals():
    os.chdir("..")
    chdir_done = True

work_directory = os.getcwd()

### Constants

In [9]:
CLEAN_FILE = 'data/clear_data.pkl'

### Import and check data

In [11]:
df_ecom = pd.read_pickle(CLEAN_FILE)

In [13]:
df_ecom.head()

,user_id,product_id,category,price,discount,final_price,payment_method,purchase_date
0,337c166f,f414122f-e,Sports,36.53,15,31.05,Net Banking,2024-11-12
1,d38a19bf,fde50f9c-5,Clothing,232.79,20,186.23,Net Banking,2024-02-09
2,d7f5f0b0,0d96fc90-3,Sports,317.02,25,237.76,Credit Card,2024-09-01
3,395d4994,964fc44b-d,Toys,173.19,25,129.89,UPI,2024-04-01
4,a83c145c,d70e2fc6-e,Beauty,244.80,20,195.84,Net Banking,2024-09-27

In [15]:
df_ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3660 entries, 0 to 3659
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         3660 non-null   object
 1   product_id      3660 non-null   object
 2   category        3660 non-null   object
 3   price           3660 non-null   float64
 4   discount        3660 non-null   int64
 5   final_price     3660 non-null   float64
 6   payment_method  3660 non-null   object
 7   purchase_date   3660 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 228.9+ KB

#### Проверка на пропуски

In [16]:
df_ecom.isnull().sum()

user_id           0
product_id        0
category          0
price             0
discount          0
final_price       0
payment_method    0
purchase_date     0
dtype: int64

<div class="alert alert-success">
    <strong>Итого</strong>: Пропусков нет
</div>

#### Проверка на дубликаты

In [22]:
df_ecom.duplicated().sum()

np.int64(0)

<div class="alert alert-success">
    <strong>Итого</strong>: Дубликатов нет
</div>